<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.allacca"
    android:versionCode="0"
    android:versionName="0.1-SNAPSHOT">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19"/>

    <application
        android:label="SbtAndroidSpike"
        android:icon="@drawable/android:star_big_on"
        android:theme="@android:style/Theme.Holo.Light"
        android:debuggable="true">

        <activity
          android:label="SbtAndroidActivity"
          android:name=".HoiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

